<div class="control is-horizontal">
  <div class="control-label">
    <label class="label">
      Fly out:
    </label>
  </div>

  <div class="control">
    <date-selector on-date-change="$ctrl.onStartDateChangeFromChild(date)" date-from-parent="$ctrl.newStartDateOut">
    </date-selector>
  </div>

  <div class="control-label">
    <label class="label">
      Fly back:
    </label>
  </div>
  <div class="control">
    <date-selector on-date-change="$ctrl.onEndDateChangeFromChild(date)" date-from-parent="$ctrl.newEndDateOut">
    </date-selector>
  </div>
</div>