
ul {
    background-color: #fff;
    padding: 0px;
    margin-top: 0px;
    position: absolute;
    z-index: 1;
    li {      
      padding: 5px 15px;
      &.selected, &:hover {
        background-color: #efefef;
		    cursor: pointer; 		
      }    
    }
  }