<div>
	<input ng-model="$ctrl.airportUserInput" class="input is-medium" ng-change="$ctrl.onInputChange()"
	 placeholder="Airport city or name" ng-keydown="$ctrl.keyEvent($event)" ng-focus="$ctrl.showTypeAhead = true"
	/>
	<ul ng-show="$ctrl.showTypeAhead">
		<li ng-repeat="airport in $ctrl.airportsFiltered |  limitTo: $ctrl.AIRPORT_LIMIT_TO_SHOW track by $index"
		 ng-class="{'selected': $index === $ctrl.airportSelectedIndex}" ng-click="$ctrl.selectAirport(airport)">
			{{airport.name}} ({{airport.iataCode}}) - {{airport.country.name}}
		</li>
	</ul>
</div>