<div class="control is-horizontal">
	<div class="control-label">
		<label class="label">
			Airport departure:
		</label>
	</div>

	<div class="control">
		<airport-selector on-airport-change="$ctrl.onAirportStartChangeFromChild(airport)"
		 airport-from-another="$ctrl.airportDest" />
	</div>

	<div class="control-label">
		<label class="label">
			Airport destination:
		</label>
	</div>
	<div class="control">
		<airport-selector on-airport-change="$ctrl.onAirportDestChangeFromChild(airport)"
		 airport-from-another="$ctrl.airportStart" />

	</div>
</div>