<table class="is-horizontal table is-striped" style="margin-top: 10px">
	<thead>
		<tr>
			<th>Price</th>
			<th>Departure</th>
			<th>Arrival</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="flight in $ctrl.flights">
			<td> {{flight.price | number:2}} {{flight.currency}}</td>
			<td> {{flight.dateFrom | date:'dd.MM.yyyy HH:mm' }}</td>
			<td> {{flight.dateTo | date:'dd.MM.yyyy HH:mm' }}</td>
		</tr>
	</tbody>
</table>